* {
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(233, 47%, 7%);
  font-family: "Lexend Deca", sans-serif;
}

.main-par {
  color: hsla(0, 0%, 100%, 0.75);
  margin-top: 1rem;
  width: 80%;
}

.heading,
.stats {
  color: hsl(0, 0%, 100%);
  margin-top: 2rem;
}

.heading,
.stats,
.main-par {
  margin-left: 2rem;
}
.titleEmphasis {
  color: hsl(277, 64%, 61%);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.stat-head {
  color: hsla(0, 0%, 100%, 0.6);
}

.heading {
  width: 80%;
}

.container {
  display: flex;
  position: absolute;
  top: 30%;
  left: 15%;
  align-items: center;
  justify-content: center;
}
.text {
  width: 40%;
  background-color: hsl(244, 38%, 16%);
  height: 446px;
  border-radius: 5px 0 0 5px;
}

.fullStats {
  display: flex;
  width: 10%;
  text-align: center;
}

.cover {
  position: relative;
}

.cover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, hsl(277, 64%, 61%) 0%, blue);
  opacity: 0.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: hsla(0, 0%, 100%, 0.6);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
